<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Hospital Management System - Cloud Ready</display-name>
  
  <!-- Spring Context Configuration -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>com.hms.config.RedisSessionConfig</param-value>
  </context-param>
  
  <!-- Spring Context Loader Listener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- Spring Session Filter - Must be first filter to intercept all requests -->
  <filter>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  
  <!-- Existing Servlet Configurations -->
  <servlet>
  	<servlet-name>myuserServlet</servlet-name>
  	<display-name>myuserServlet</display-name>
  	<description></description>
  	<servlet-class>com.hms.user.servlet.myuserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyNewServlet</servlet-name>
  	<display-name>MyNewServlet</display-name>
  	<description></description>
  	<servlet-class>com.hms.user.servlet.MyNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>myuserServlet</servlet-name>
  	<url-pattern>/myuserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyNewServlet</servlet-name>
  	<url-pattern>/MyNewServletRegisterUser</url-pattern>
  </servlet-mapping>
</web-app>
